<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>纯保理产品-审核授信</title>
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/product/select.css" />
		<link rel="stylesheet" type="text/css" href="../../css/product/verify.css" />

	</head>
	<body>
		<button id="masks" class="btn_show"></button>
		<div class="wmaskContent">
			<div class="wmaskTitle">审核评级定性指标得分</div>
			<div class="wmaskMain hg">
				<h1 class="wcor wfirst">提示：所有项目均为单选！</h1>
				<h1 class="wtop">一、企业类型(满分10分)：</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="one" id="" value="" />
					</div>
					<em> A.小微企业；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="one" id="" value="" />
					</div>
					<em> B.中型企业；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="one" id="" value="" />
					</div>
					<em>C.大型企业。（5分）</em>
				</div>
				</div>
				
				<h1 class="whtwo">二、行业、区域开发、环保、财政或税收等政策，(满分10分)按照国家行业、区域、环保、财政或税收等政策对企业的影响程度来评估，对企业是否有利：</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="two" id="" value="" />
					</div>
					<em> A.该企业所属行业法律法规体系完善，政府出台政策大力支持，行业发展符合环保要求，产业政策向好，透明，在融资、财政或税收等方面给予大力支持；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="two" id="" value="" />
					</div>
					<em>B.该企业所属行业法律法规体系完善，政府出台政策大力支持，行业发展符合环保要求，产业政策稳定，透明，融资、财政或税收等方面支持一般；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="two" id="" value="" />
					</div>
					<em>C.该企业所属行业法律法规体系完善，政府未出台鼓励政策，行业发展不符合环保要求，产业政策不鼓励，在融资、财政或税收方面支持力度一般。（5分）</em>
				</div>
				</div>
				<h1>三、市场环境、产品供求，(满分10分)按照同类产品供求状况对企业的影响程度来评估。同类产品供不应求的视情况取10分；供求平衡，取8分；供过于求，视情况取5分：</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="three" id="" value="" />
					</div>
					<em>A.企业所在行业景气指数很高，所属行业盈利能力很强，发展潜力很大，前景广阔，产品供不应求；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="three" id="" value="" />
					</div>
					<em>B.企业所在行业景气指数高，所属行业盈利能力强，发展潜力大，产品供求平衡；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="three" id="" value="" />
					</div>
					<em>C.企业所在行业景气指数一般，所属行业盈利能力一般，发展潜力受限，产品供大于求。（5分）</em>
				</div>
				</div>
				<h1>四、企业销售商品、提供服务价格变动情况，价格变动对企业的影响程度。(满分10分)</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="four" id="" value="" />
					</div>
					<em>A.企业销售商品、提供服务价格呈上升趋势，价格波动较小，预计同类商品或服务价格变动超过上年均价5%以上，但对企业影响程度较小；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="four" id="" value="" />
					</div>
					<em>B.该企业销售商品、提供服务价格趋于稳定，价格波动较小，预计同类商品或服务价格变动在5%以内，但对企业影响程度较小；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="four" id="" value="" />
					</div>
					<em>C.该企业销售商品、提供服务价格趋于稳定，价格波动较小，预计同类商品或服务价格变动较上年均价下降5%以上，对企业影响程度较大。（5分）</em>
				</div>
				</div>
				<h1>五、公司治理：治理架构董事会、监事会是否健全、法人制度是否明晰；决策机制是否完善，透明；风险管理是否到位等方面。(满分10分)</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="five" id="" value="" />
					</div>
					<em>A.该企业公司治理结构健全，决策机制完善，透明，公司的治理结构适应并促进了企业的发展，经营风险管理到位,各职能部门设置合理，职责明确，公司决策机制科学有效；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="five" id="" value="" />
					</div>
					<em>B.该企业公司治理结构健全，决策机制一般，公司的治理结构适应企业的发展，各职能部门设置合理，职责明确；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="five" id="" value="" />
					</div>
					<em>C.该企业公司治理结构不健全，未有决策机制，设置各职能部门。（5分）</em>
				</div>
				</div>
				<h1>六、融资能力：企业可用的融资渠道，企业是否过度依赖个别渠道，企业通过各种渠道可获得的资金量以及筹资成本等）：(10分)</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="six" id="" value="" />
					</div>
					<em>A.该企业融资方式很多，不过度依赖个别渠道，融资成本很低；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="six" id="" value="" />
					</div>
					<em>B.该企业融资方式多，不过度依赖个人渠道，融资成本低；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="six" id="" value="" />
					</div>
					<em>C.该企业融资方式一般，融资成本高。（5分）</em>
				</div>
				</div>
				<h1>七、企业信用，行政处罚情况：公司是否纳入失信名单，是否存在违反税收法律、行政法规行为处理情况；是否存在劳资纠纷、偷税漏税行为；(满分10分)</h1>
				<div class="wchoosebox">
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="seven" id="" value="" />
					</div>
					<em>A.该企业信用良好，未纳入失信名单，不存在行政处罚、劳资纠纷、偷税漏税行为；（10分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="seven" id="" value="" />
					</div>
					<em>B.该企业信用良好，未纳入失信名单，不存在行政处罚，有过劳资纠纷、偷税漏税行为；（8分）</em>
				</div>
				<div class="wchoose">
					<div class="winputbox">
						<input type="radio" name="seven" id="" value="" />
					</div>
					<em>C.该企业信用一般，未纳入失信名单，有过行政处罚，劳资纠纷、偷税漏税行为。（5分）</em>
				</div>
				</div>
				<em class="wclose wreset ">取消</em>
				<em class="wreset mr">提交</em>
			</div>
		</div>
		<div class="wContent">
			<div class="wContentLeft"></div>
			<div class="wContentRight">
				<div class="wTitle">
					<span class="layui-breadcrumb" lay-separator=">">
						<a href="">票据中心</a>
						<a href="">八卦</a>
						<a href="">体育</a>
						<a href="">搞笑</a>
						<a href="">视频</a>
						<a href="">游戏</a>
						<a href="">综艺</a>
					</span>
				</div>
				<div class="wMain">
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="2">基本信息</th>
						</tr>
						<tr>
							<td class="wtdone">授信总额度</td>
							<td class="text">
								<em>554,466,144.00元</em>
							</td>
						</tr>
						<tr>
							<td>审核状态</td>
							<td class="text cors" colspan="">
								<em>待审核</em>
							</td>
						</tr>
					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="1">上传资料</th>
						</tr>
						<tr>
							<td class="wtdone text" colspan="1">
								<em>财务报表</em>
								<em class="wdown mr" href="">下载</em>
								<em class="wdown">查看</em>
							</td>
						</tr>
						<tr>
							<td class="wtdone text" colspan="1">
								<em>公司章程</em>
								<em class="wdown mr" href="">下载</em>
								<em class="wdown">查看</em>
							</td>
						</tr>
					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="2">上传资料</th>
						</tr>
						<tr>
							<td class="wtdone">财务报表</td>
							<td class="text">
								<em>财务报表.pdf</em>
								<a class="wdown" href="">下载</a>
							</td>
						</tr>
						<tr>
							<td>公司章程</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
								<a class="wdown" href="">下载</a>
							</td>
						</tr>
					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">

						<tr>
							<th colspan="4">财务数据</th>
						</tr>
						<tr>
							<td class="wtdone">期末流动资产</td>
							<td class="text">
								<em>18,874,423,713.02元</em>
							</td>
							<td class="wtdone">期末所有者权益</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期初流动资产</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">期初所有者权益</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期末流动负债</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">营业收入</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>存货</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">营业成本</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期末应收账款和坏账准备</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">营业税及附加</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期初应收账款和坏账准备</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">财务费用</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期末总资产</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">利润总额</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期初总资产</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">税后净利润</td>
							<td class="wtdtwo text">545,455,4545.00元</td>
						</tr>
						<tr>
							<td>期末总负债</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">上年营业收入</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>期初总负债</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">经营现金净流量</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>

					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">

						<tr>
							<th colspan="4">评级定量指标</th>
						</tr>
						<tr>
							<td class="wtdone">定量指标得分</td>
							<td class="text cor" colspan="3">
								<em>80分</em>
							</td>
						</tr>
						<tr>
							<td>利息保障倍数</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">应收账款周转率</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>现金流动负债率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">流动资产周转率</td>
							<td class="wtdtwo text">545，4554545.00元</td>
						</tr>
						<tr>
							<td>速动比率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">总资产周转率</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>资产负债率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">总资产增长率</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>销售利润率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">资本保值增值率</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>总资产报酬率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone">销售增长率</td>
							<td class="wtdtwo text">545，455，4545.00元</td>
						</tr>
						<tr>
							<td>净资产收益率</td>
							<td class="text" colspan="">
								<em>公司章程.pdf</em>
							</td>
							<td class="wtdone"></td>
							<td class="wtdtwo text"></td>
						</tr>
					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="4">评级定性指标</th>
						</tr>
						<tr>
							<td class="wtdone">定量指标得分</td>
							<td class="text pad" colspan="3">
								<em class="cor lh">70分</em>
								<div class="wlook bg" href="">填写</div>
							</td>
						</tr>
					</table>
					<table class="wTableOne" border="" cellspacing="0" cellpadding="0">
						<tr>
							<th colspan="4">授信情况</th>
						</tr>
						<tr>
							<td class="wtdone hg">授信内容</td>
							<td class="text" colspan="3">
								<p><em class="wresult">审核状态：审核失败</em> <em class="wwhy">不想给通过了！重新提交！不想给通过了！重新提交！不想给通过了！重新提交！</em></p>
								<p><em class="">授信额度：123，455.00元</em><span class="wcaozuo">操作时间：2020-04-09 11:11</span><span class="wcaozuo mr">操作人：管理员一
									</span></p>
							</td>
						</tr>
						<tr>
							<td class="wtdone">总评级分数</td>
							<td class="text" colspan="3">
								<div class="wgrade"><input placeholder="100" type="text" name="" id="" value="" /><em>分</em>
								</div>
							</td>
						</tr>
						<tr class="wh">
							<td class="wtdone">总评级分数</td>
							<td class="text" colspan="3">
								<input class="wtrue" type="radio" name="all" id="" value="" /><em class="wem">审核通过</em>
								<input class="wtrue" type="radio" name="all" id="" value="" /><em>审核驳回</em>
							</td>
						</tr>
						<tr class="whg">
							<td class="wtdone">说明</td>
							<td class="text" colspan="3">
								<textarea class="wtextarea" type="textarea" style="resize: none;" maxlength="190"></textarea>

							</td>
						</tr>
						<tr>
							<td class="wtdone">新增授信额度</td>
							<td class="text" colspan="3">
								<div class="wgrade"><input placeholder="请输入新增授信额度" type="text" name="" id="" value="" /><em>元</em>
								</div>
							</td>
						</tr>
					</table>
					<div class="wstate">
						<em>状态：</em>
						<select name="">
							<option value="">启用</option>
							<option value="">启用</option>
							<option value="">启用</option>
						</select>
					</div>
					<p class="wbtn">提交</p>
				</div>
			</div>
		</div>
		<script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<script src="../../js/swiper.min.js"></script>
		<script src="../../layui/layui.all.js"></script>
		<script src="../../layui/lay/modules/jquery.js"></script>
		<script src="../../js/jquery.magnific-popup.min.js"></script>
		<script type="text/javascript">
			layui.use(['element', 'layer', 'carousel'], function() {
				var element = layui.element,
					layer = layui.layer,
					carousel = layui.carousel;

				carousel.render({
					elem: '#test1',
					width: '100%', //设置容器宽度
					height: '110px',
					arrow: 'always', //始终显示箭头
					autoplay: false,

				});
			})
			// // 查看大图
			// $(".wimgbox").each(function() {
			//     $(this).magnificPopup({
			//         items: {
			//             src: $(this).attr("src")
			//         },
			//         type: "image"
			//     })
			// });
			// 合同一图片
			var mySwiper = new Swiper('.swiper-containerss', {
				direction: 'horizontal',
				// loop: true,
				history: 'love',
				slidesPerView: 3,
				centeredSlides: false,
				spaceBetween: 20,
				observer: true,
				observeParents: true,
				slidesOffsetBefore: 70,
				navigation: {
					nextEl: '.swiper-button-next',
					prevEl: '.swiper-button-prev',
				},


			});



			//上传贸易信息弹窗
			$(function() {
				$('.wlook').click(function() {
					$('#masks,.wmaskContent').css({
						display: 'block'
					})
				});
				$('.wclose').click(function() {
					$('#masks,.wmaskContent').css({
						'display': 'none',
					})
				})
			});
		</script>
	</body>
</html>
