<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>纯保理订单</title>
		<link rel="stylesheet" type="text/css" href="../../css/public.css" />
		<link rel="stylesheet" type="text/css" href="../../layui/css/layui.css" />
		<link rel="stylesheet" type="text/css" href="../../css/swiper.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/order/index.css" />

	</head>
	<body>
		<div class="wContent">
			<div class="wContentLeft"></div>
			<div class="wContentRight">
				<div class="wTitle">
					<span class="layui-breadcrumb" lay-separator=">">
						<a href="">票据中心</a>
						<a href="">八卦</a>
						<a href="">体育</a>
						<a href="">搞笑</a>
						<a href="">视频</a>
						<a href="">游戏</a>
						<a href="">综艺</a>
					</span>
				</div>
				<div class="wMain">
					<div class="wHeader">
						<em>订单编号:</em>
						<input class="winput mr" type="text" name="" id="" value="" placeholder="请输入订单编号" />
						<em>融资企业:</em>
						<input class="winput mr" type="text" name="" id="" value="" placeholder="请输入融资企业"/>
						<em>申请时间:</em>
						<input class="winput winputTime" type="text" name="" id="" value="" placeholder="开始时间" />
						<em class="wline">一</em>
						<input class="winput winputTime mr" type="text" name="" id="" value="" placeholder="结束时间" />
						<em>状态:</em>
						<select class="winput winputZt cor" name="">
							<option value="">全部</option>
							<option value="">12</option>
							<option value="">234567</option>
						</select>
						<a href="">搜索</a>
					</div>
				</div>
			</div>
		</div>











		<script src="../../js/jquery-1.12.4.min.js"></script>
		<script src="../../layui/layui.js"></script>
		<script src="../../layui/layui.all.js"></script>
		<script src="../../js/swiper.min.js"></script>
		<script src="../../js/public.js"></script>
		<script type="text/javascript">
			layui.use(['element', 'layer', 'carousel'], function() {
				var element = layui.element,
					layer = layui.layer,
					carousel = layui.carousel;

				carousel.render({
					elem: '#test1',
					width: '100%', //设置容器宽度
					height: '110px',
					arrow: 'always', //始终显示箭头
					autoplay: false,

				});
				// // 查看大图
				// $(".wimgbox").each(function() {
				//     $(this).magnificPopup({
				//         items: {
				//             src: $(this).attr("src")
				//         },
				//         type: "image"
				//     })
				// });
				// 合同一图片
				var mySwiper = new Swiper('.swiper-containerss', {
					direction: 'horizontal',
					// loop: true,
					history: 'love',
					slidesPerView: 3,
					centeredSlides: false,
					spaceBetween: 20,
					observer: true,
					observeParents: true,
					slidesOffsetBefore: 70,
					navigation: {
						nextEl: '.swiper-button-next',
						prevEl: '.swiper-button-prev',
					},


				});
			})
		</script>
	</body>
</html>
