<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员列表 - 详情</title>
	<link rel="stylesheet" href="../../css/public.css">
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/order/select.css">
	<link rel="stylesheet" href="../../css/paste.css">
	<link rel="stylesheet" href="../../css/magnific-popup.css">
</head>
<body>
<div class="wContent">
	<div class="wContentLeft"></div>
	<div class="wContentRight">
		<div class="wTitle">
			<span class="layui-breadcrumb" lay-separator=">">
				<a href="">会员管理</a>
				<a href="">会员列表</a>
				<a href="">会员详情</a>
			</span>
			<a href="" class="goBackBtn">返回上一级</a>
		</div>
		<div class="lWrapper">
			<table class="layui-table lTable">
				<colgroup>
					<col width="13%">
					<col width="20%">
					<col width="17%">
					<col width="20%">
					<col width="20%">
					<col width="10%">
				</colgroup>
				<tr class="active">
					<td>会员账号</td>
					<td>企业名称</td>
					<td>统一社会信用代码</td>
					<td>注册地址</td>
					<td>办公地址</td>
					<td>企业类型</td>
				</tr>
				<tr>
					<td>17610600927</td>
					<td>小米科技有限责任公司</td>
					<td>91110108551385082Q</td>
					<td>北京市北京市北京市北京市</td>
					<td>北京市北京市北京市北京市</td>
					<td>上市公司</td>
				</tr>
			</table>
			<table class="layui-table lTable">
				<colgroup>
					<col width="13%">
					<col width="20%">
					<col width="27%">
					<col width="25%">
					<col width="15%">
				</colgroup>
				<tr class="active">
					<td>法人证件类型</td>
					<td>法人姓名</td>
					<td>法人身份证号</td>
					<td>身份证件有效期</td>
					<td>法人联系手机</td>
				</tr>
				<tr>
					<td>居民身份证</td>
					<td>李琪琪</td>
					<td>132134276516721652</td>
					<td>永久有效</td>
					<td>13313634341</td>
				</tr>
			</table>
			<table class="layui-table lTable">
				<colgroup>
					<col width="13%">
					<col width="20%">
					<col width="17%">
					<col width="20%">
					<col width="15%">
					<col width="15%">
				</colgroup>
				<tr class="active">
					<td>经办人证件类型</td>
					<td>经办人姓名</td>
					<td>经办人身份证号</td>
					<td>身份证件有效期</td>
					<td>经办人联系手机</td>
					<td>经办人邮箱</td>
				</tr>
				<tr>
					<td>居民身份证</td>
					<td>李琪琪</td>
					<td>132134276516721652</td>
					<td>永久有效</td>
					<td>13313634341</td>
					<td>13313634341@163.com</td>
				</tr>
			</table>
			<table class="layui-table lTable">
				<colgroup>
					<col width="13%">
					<col width="20%">
					<col width="15%">
					<col width="27%">
					<col width="15%">
					<col width="10%">
				</colgroup>
				<tr class="active">
					<td>开户银行</td>
					<td>银行账号</td>
					<td>开户省份</td>
					<td>开户支行</td>
					<td>大额行号</td>
					<td>状态</td>
				</tr>
				<tr>
					<td>招商银行</td>
					<td>6223742832737</td>
					<td>北京北京</td>
					<td>招商银行股份有限公司北京中关村支行</td>
					<td>308100005035</td>
					<td>审核成功</td>
				</tr>
			</table>
			<table class="layui-table lTable">
				<colgroup>
					<col width="15%">
					<col width="15%">
					<col width="35%">
					<col width="35%">
				</colgroup>
				<tr class="active">
					<td>营业执照</td>
					<td>开户许可证</td>
					<td>法人身份证</td>
					<td>业务身份证</td>
				</tr>
				<tr>
					<td>
						<p class="current"><img src="../../images/member/demo1.png" alt="" class="big"></p>
					</td>
					<td>
						<p class="current"><img src="../../images/member/demo2.jpg" alt="" class="big"></p>
					</td>
					<td>
						<p class="current marginRight10"><img src="../../images/member/demo3.png" alt="" class="big"></p>
						<p class="current"><img src="../../images/member/demo4.png" alt="" class="big"></p>
					</td>
					<td>
						<p class="current marginRight10"><img src="../../images/member/demo3.png" alt="" class="big"></p>
						<p class="current"><img src="../../images/member/demo4.png" alt="" class="big"></p>
					</td>
				</tr>
			</table>
			<div class="ldeFile">
				<h2>资质文件</h2>
				<p>
					<a href="">下载</a>
					<a href="">查看</a>
					<span>法人授权文件</span>
				</p>
				<p>
					<a href="">下载</a>
					<a href="">查看</a>
					<span>电子签名认证证书授权委托书</span>
				</p>
			</div>
			<table class="layui-table lTable">
				<colgroup>
					<col width="20%">
					<col width="20%">
					<col width="30%">
					<col width="30%">
				</colgroup>
				<tr class="active">
					<td>注册时间</td>
					<td>注册IP</td>
					<td>最后登录IP</td>
					<td>最后时间</td>
				</tr>
				<tr>
					<td>2019-06-04 14:31:28</td>
					<td>114.255.81.224</td>
					<td>0:0:0:0:0:0:0:1</td>
					<td>2020-09-02 09:11:46</td>
				</tr>
			</table>
			<div class="ldeFile">
				<h2>审批内容</h2>
				<ul>
					<li>
						<span>审批通过，该企业信誉度极好！</span>
						<i>审核日期：2020年5月15日 12:30:34</i>
						<em>审核员：张三三 </em>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script src="../../layui/layui.all.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script>
	$(function () {
        layui.use(['form'],function () {
            var form = layui.form;
            form.render()
        });
        $(".big").each(function () {
	        $(this).magnificPopup({
		        items: {
		            src: $(this).attr("src")
		        },
		        type: "image"
	        })
        })
    })
</script>
</body>
</html>