<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>会员列表 - 审核</title>
	<link rel="stylesheet" href="../../css/public.css">
	<link rel="stylesheet" href="../../css/order/select.css">
	<link rel="stylesheet" href="../../css/paste.css">
	<link rel="stylesheet" href="../../layui/css/layui.css">
	<link rel="stylesheet" href="../../css/magnific-popup.css">
</head>
<body>
<div class="wContent">
	<div class="wContentLeft"></div>
	<div class="wContentRight layui-form">
		<div class="wTitle">
			<span class="layui-breadcrumb" lay-separator=">">
				<a href="">会员管理</a>
				<a href="">会员列表</a>
				<a href="">会员审核</a>
			</span>
			<a href="" class="goBackBtn">返回上一级</a>
		</div>
		<div class="lWrapper">
			<!--企业信息-->
			<div class="hysh-box">
				<h1>企业信息</h1>
				<p>
					<span>会员账号：</span>
					<em>13911565057</em>
				</p>
				<p>
					<span>企业名称：</span>
					<em>北京宏图忠信建筑工程有限公司</em>
				</p>
				<p>
					<span>统一社会信用代码：</span>
					<em>1234567890123456</em>
				</p>
				<p>
					<span>注册地址：</span>
					<em>北京市朝阳区广顺北大街五号院内32号内4层4011</em>
				</p>
				<p>
					<span>办公地址：</span>
					<em>北京市朝阳区东四环中路82号金长安C座26、27层</em>
				</p>
				<p>
					<span>企业类型：</span>
					<em>上市公司</em>
				</p>
				<p>
					<span>法人证件类型：</span>
					<em>居民身份证</em>
				</p>
				<p>
					<span>法人姓名：</span>
					<em>王二小</em>
				</p>
				<p>
					<span>法人身份证号：</span>
					<em>152142324152431243</em>
				</p>
				<p>
					<span>身份证件有效期：</span>
					<em>永久有效</em>
				</p>
				<p>
					<span>法人联系手机：</span>
					<em>13313634341</em>
				</p>
			</div>
			<!--银行信息-->
			<div class="hysh-box">
				<h1>银行信息</h1>
				<p>
					<span>开户银行：</span>
					<em>招商银行</em>
				</p>
				<p>
					<span>银行账号：</span>
					<em>1234567890123456788</em>
				</p>
				<p>
					<span>开户省份：</span>
					<em>辽宁省沈阳市</em>
				</p>
				<p>
					<span>开户支行：</span>
					<em>北京银行复兴支行</em>
				</p>
				<p>
					<span>大额行号：</span>
					<em>123456789123456789</em>
				</p>
				<p>
					<span>状态：</span>
					<em>审核失败</em>
				</p>
			</div>
			<!--经办人信息-->
			<div class="hysh-box">
				<h1>经办人信息</h1>
				<p>
					<span>经办人证件类型：</span>
					<em>居民身份证</em>
				</p>
				<p>
					<span>经办人姓名：</span>
					<em>王二小</em>
				</p>
				<p>
					<span>经办人身份证号：</span>
					<em>152142324152431243</em>
				</p>
				<p>
					<span>身份证件有效期：</span>
					<em>永久有效</em>
				</p>
				<p>
					<span>经办人联系手机：</span>
					<em>13313634341</em>
				</p>
				<p>
					<span>经办人邮箱：</span>
					<em>13313634341@163.com</em>
				</p>
			</div>
			<!--企业资质-->
			<div class="hysh-box">
				<h1>企业资质</h1>
				<ul class="hyshCo">
					<li>
						<span><img src="../../images/member/demo1.png" alt="" class="big"></span>
						<p>营业执照</p>
					</li>
					<li>
						<span><img src="../../images/member/demo2.jpg" alt="" class="big"></span>
						<p>开户许可证</p>
					</li>
					<li>
						<span><img src="../../images/member/demo3.png" alt="" class="big"></span>
						<p>法人身份证正面</p>
					</li>
					<li>
						<span><img src="../../images/member/demo4.png" alt="" class="big"></span>
						<p>法人身份证反面</p>
					</li>
					<li>
						<span><img src="../../images/member/demo3.png" alt="" class="big"></span>
						<p>业务身份证正面</p>
					</li>
					<li>
						<span><img src="../../images/member/demo4.png" alt="" class="big"></span>
						<p>业务身份证反面</p>
					</li>
				</ul>
			</div>
			<!--资质文件-->
			<div class="ldeFile marginTop10">
				<h2>资质文件</h2>
				<p>
					<a href="">下载</a>
					<a href="">查看</a>
					<span>法人授权文件</span>
				</p>
				<p>
					<a href="">下载</a>
					<a href="">查看</a>
					<span>电子签名认证证书授权委托书</span>
				</p>
			</div>
			<!--审批内容-->
			<div class="ldeFile marginTop10">
				<h2>审批内容</h2>
				<ul>
					<li>
						<span>审批通过，该企业信誉度极好！</span>
						<i>审核日期：2020年5月15日 12:30:34</i>
						<em>审核员：张三三 </em>
					</li>
				</ul>
			</div>
			<!--认证审核-->
			<div class="hysh-box">
				<h1>认证审核</h1>
				<ul class="hyshExa">
					<li>
						<span>审批状态：</span>
						<input type="radio" name="status" value="审核通过" title="审核通过">
						<input type="radio" name="status" value="审核失败" title="审核失败" checked="">
					</li>
					<li>
						<span>失败类型：</span>
						<input type="radio" name="choose" value="企业信息" title="企业信息">
						<input type="radio" name="choose" value="经办人信息" title="经办人信息" checked="">
					</li>
					<li>
						<span>审批备注：</span>
						<textarea name="" id=""></textarea>
					</li>
				</ul>
				<input type="submit" class="hyshSubmit" value="提交">
			</div>
		</div>
	</div>
</div>
<script src="../../js/jquery-1.12.4.min.js"></script>
<script src="../../layui/layui.all.js"></script>
<script src="../../js/jquery.magnific-popup.min.js"></script>
<script>
    $(function () {
        layui.use(['form'],function () {
	        var form = layui.form;
	        form.render()
        })
        
        $(".big").each(function () {
            $(this).magnificPopup({
                items: {
                    src: $(this).attr("src")
                },
                type: "image"
            })
        })
    })
</script>
</body>
</html>